
    /* error case handle with id */
#error-case1{
    text-align: center;
    background-color: rgb(4, 209, 141);
    border-radius: 20px;
    font-weight: 700;
    padding: 5px 8px;
    display: none;
    
}
#error-case2{
    text-align: center;
    background-color: rgb(218, 86, 63);
    border-radius: 20px;
    font-weight: 700;
    color: white;
    padding: 5px 8px;
    display: none;
}
#error-case3{
    text-align: center;
    background-color: rgba(144, 7, 235, 0.938);
    border-radius: 20px;
    font-weight: 700;
    padding: 5px 8px;
    display: none;
    color: white;
    
}
#error-case4{
    text-align: center;
    background-color: rgba(247, 140, 2, 0.979);
    border-radius: 20px;
    font-weight: 700;
    color: white;
    padding: 5px 8px;
    display: none;
}

#error-case5{
    text-align: center;
    background-color: rgb(6, 245, 165);
    border-radius: 20px;
    font-weight: 700;
    padding: 5px 8px;
    display: none;
}

#error-case6{
    text-align: center;
    background-color: rgb(153, 25, 2);
    border-radius: 20px;
    font-weight: 700;
    color: white;
    padding: 5px 8px;
    display: none;
}

